

header
{
    top: 0%;
    border-radius: 3px;
    background-color: black;
    z-index: 1;
}

/* Navbar */

nav 
  {
    position: sticky;
      text-align: center;
      margin: 15px auto;
      width: 50%;
      height: 100px;
      background: black;
  }
  nav .main_pages 
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  nav .main_pages a 
  {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      text-decoration: none;
      color: white;
      font-size: 20px;
  }
  nav a:hover 
  {
      background: crimson;
      opacity: 0.9;
  }

#search
{
  text-align: left;
  z-index: 2;
  justify-content: left;

}

body
{
  background-color:lightgray;
}

section
{
    margin-top: 100px;
}

h1
{
    color: white;
}

#titre 
{
    position: sticky;
    font-weight: bolder;
}

#produits
{
    display: grid;
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: repeat(3, 400px);
    column-gap: 1em;
    row-gap: 1em;
    position:relative;
    justify-content: center;
}

#produits div
{
    border: 2px;
}

#p1
{
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center ;

}

/* Image Hover */
.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 13%;
    max-width: 400px;
    max-height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: crimson;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }