


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.wrapper
{
  width: 940px;
  margin: 0 auto;    
  padding: 0 10px;
}
.clear
{
  clear: both;   
}
.noir
{
  color: crimson;
  text-shadow: none;
}
a
{
  text-decoration: none;
  color: white;
}
a:hover{
  color: crimson;
}
ul
{
  list-style: none;
}
header {
  height: 150px;  
  background-color: crimson;
}
h1{
  float: left;
  margin-top: 32px; 
  text-shadow: 2px 2px 2px crimson;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  box-shadow: 2px 2px 2px black;
}
nav{
  float: right;  
  margin-top: 50px;
}
nav > ul > li{
  display: inline-block;
}
nav > ul > li > a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px 100px / 120px;
    padding: 10px;
}
label
{
  display: none;
}
 footer{
  background: crimson;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
  z-index: -1;
 }
 footer>.footer{
   text-align: left;
 }
.footer > a{
  color: white;
  display: flex;
  justify-content: center;
}
 h2{
   color: white;
   font-size: 35px;
   margin: auto;
   padding-top: 30px;
 }
 body {
    margin: 0;
    background: black;
    text-align: center;
    font-family: sans-serif;
    color: white;
  }
  /* DÉBUT CSS CAROUSEL */
  .container {
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  .carousel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 40s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgb(0,0,0,0.3);
    display: flex;
    border: solid white 2px;
    border-radius: 10px;
  }

  .carousel__face:nth-child(1) {
    background-image: url("img/img1.png");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("img/zyro-image.png");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("img/zyro-image1.png");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("img/img2.png");
    transform: rotateY( 120deg) translateZ(430px); }
  .carousel__face:nth-child(5) {
    background-image: url("img/img3.jpg");
    transform: rotateY( 160deg) translateZ(430px); }
  .carousel__face:nth-child(6) {
    background-image: url("img/img4.jpg");
    transform: rotateY( 200deg) translateZ(430px); }
  .carousel__face:nth-child(7) {
    background-image: url("img/img5.jpg");
    transform: rotateY( 240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("img/img6.jpg");
    transform: rotateY( 280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("img/img7.jpg");
    transform: rotateY( 320deg) translateZ(430px); }
      
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  /* FIN CSS CRAOUSEL */


  
  /* DÉBUT CSS RESPONSIVE */
  @media all and (max-width: 991px)
  {
  nav
  {
      height: 60px;
  }
  label 
  {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  }
  label, #toggle
  {
      display: none;
  }
  @media all and (max-width: 991px)
  {
  nav
  {
    height: 60px;
  }
  nav > ul > li{display: inline-block;}
  nav > ul > li > a
  {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
  }
  label 
  {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
    #toggle:checked + .main_pages 
    {
      display: flex;
    }
}
/*page produit*/
#search
{
  text-align: left;
  z-index: 2;
  justify-content: left;

}
#titre 
{
    position: sticky;
    font-weight: bolder;
}

#produits
{
    display: grid;
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: repeat(3, 400px);
    column-gap: 1em;
    row-gap: 1em;
    position:relative;
    justify-content: center;
}

#produits div
{
    border: 2px;
}

#p1
{
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center ;

}

/* Image Hover */
div>container {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 13%;
    max-width: 400px;
    max-height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: crimson;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }