
 footer{
    background-color: black;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:40px;
    height:50px;
 }
 body {
    margin: 0;
    background: lightgray;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }
  /* DÉBUT CSS CAROUSEL */
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("img/img1.png");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("img/zyro-image.png");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("img/zyro-image1.png");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("img/img2.png");
    transform: rotateY( 120deg) translateZ(430px); }
  .carousel__face:nth-child(5) {
    background-image: url("img/img3.jpg");
    transform: rotateY( 160deg) translateZ(430px); }
  .carousel__face:nth-child(6) {
    background-image: url("img/img4.jpg");
    transform: rotateY( 200deg) translateZ(430px); }
  .carousel__face:nth-child(7) {
    background-image: url("img/img5.jpg");
    transform: rotateY( 240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("img/img6.jpg");
    transform: rotateY( 280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("img/img7.jpg");
    transform: rotateY( 320deg) translateZ(430px); }
      
    
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  /* FIN CSS CRAOUSEL */



  /* DÉBUT NAVBAR */

  nav 
  {
      margin: 100px auto;
      width: 50%;
      height: 100px;
      background: black;
  }
  nav .main_pages 
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  nav .main_pages a 
  {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      text-decoration: none;
      font-family: Arial, sans-serif;
      color: white;
  }
  nav a:hover 
  {
      background: crimson;
  }

  /* DÉBUT CSS RESPONSIVE */

  label
  {
    display: none;
  }
  @media all and (max-width: 991px)
  {
  nav
  {
      height: 60px;
  }
  nav .main_pages 
  {
    display: none;
  }
  label 
  {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  }
  label, #toggle
  {
      display: none;
  }

  @media all and (max-width: 991px)
  {
  nav
  {
    height: 60px;
  }
  nav .main_pages 
  {
  display: none;
  flex-direction: column;
  background: lightslategray;
  height: 220px;
  }
  nav .main_pages a {
  width: 50%;
  }
  label 
  {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
    #toggle:checked + .main_pages 
    {
      display: flex;
    }
}